# =========================
# Maven
# =========================
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml

# =========================
# Java
# =========================
*.class
*.log

# =========================
# VS Code
# =========================
.vscode/

# =========================
# IntelliJ (just in case)
# =========================
.idea/
*.iml

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Environment / secrets (IMPORTANT)
# =========================
.env
*.properties.backup
